In [2]:
!pip install numpy
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (1.24.3)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('smartphone_specifications_and_prices.csv', encoding='latin-1')

In [5]:
data.head()

,brand_name,model,display,front_camera,rare_camera,processor,battery_capacity,ram,internal_storage,price
0,SAMSUNG,Samsung S24 Ultra,"6.8"" (120Hz)",40MP,108MP + 10MP + 10MP + 12MP,Exynos,5000mAh,8.0,128,334999
1,SAMSUNG,Samsung S24 Plus,"6.6"" (120Hz)",10MP,50MP + 10MP + 12MP,Exynos,4500mAh,8.0,128,189999
2,SAMSUNG,Samsung Zero,"6.41"" (120Hz)",32 MP,12 MP + 8 MP + 12 MP,Snapdragon 888 5G,4500mAh,8.0,256,112999
3,SAMSUNG,Samsung S24,"6.1"" (120Hz)",10MP,50MP + 10MP + 12MP,Exynos,3700mAh,8.0,128,249999
4,SAMSUNG,Samsung A05s,"6.5"" (90Hz)",5MP,50MP + 2MP + 2MP,Exynos,5000mAh,4.0,64,24999

In [6]:
data.shape

(1256, 10)

In [7]:
data.isnull()

,brand_name,model,display,front_camera,rare_camera,processor,battery_capacity,ram,internal_storage,price
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
1251,False,False,False,False,False,False,False,False,False,False
1252,False,False,False,False,False,False,False,False,False,False
1253,False,False,False,False,False,False,False,False,False,False
1254,False,False,False,False,False,False,False,False,False,False
1255,False,False,False,False,False,False,False,False,False,False

In [8]:
data.isnull().sum()

brand_name          0
model               0
display             0
front_camera        0
rare_camera         0
processor           0
battery_capacity    0
ram                 0
internal_storage    0
price               0
dtype: int64

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1256 entries, 0 to 1255
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   brand_name        1256 non-null   object
 1   model             1256 non-null   object
 2   display           1256 non-null   object
 3   front_camera      1256 non-null   object
 4   rare_camera       1256 non-null   object
 5   processor         1256 non-null   object
 6   battery_capacity  1256 non-null   object
 7   ram               1256 non-null   float64
 8   internal_storage  1256 non-null   int64
 9   price             1256 non-null   int64
dtypes: float64(1), int64(2), object(7)
memory usage: 98.3+ KB

In [13]:
data.head(2)

,brand_name,model,display,front_camera,rare_camera,processor,battery_capacity,ram,internal_storage,price
0,SAMSUNG,Samsung S24 Ultra,"6.8"" (120Hz)",40MP,108MP + 10MP + 10MP + 12MP,Exynos,5000mAh,8.0,128,334999
1,SAMSUNG,Samsung S24 Plus,"6.6"" (120Hz)",10MP,50MP + 10MP + 12MP,Exynos,4500mAh,8.0,128,189999

In [14]:
data['battery_capacity'] = data['battery_capacity'].str.replace('mAh','').astype('int32')

In [15]:
data.head(2)

,brand_name,model,display,front_camera,rare_camera,processor,battery_capacity,ram,internal_storage,price
0,SAMSUNG,Samsung S24 Ultra,"6.8"" (120Hz)",40MP,108MP + 10MP + 10MP + 12MP,Exynos,5000,8.0,128,334999
1,SAMSUNG,Samsung S24 Plus,"6.6"" (120Hz)",10MP,50MP + 10MP + 12MP,Exynos,4500,8.0,128,189999

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1256 entries, 0 to 1255
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   brand_name        1256 non-null   object
 1   model             1256 non-null   object
 2   display           1256 non-null   object
 3   front_camera      1256 non-null   object
 4   rare_camera       1256 non-null   object
 5   processor         1256 non-null   object
 6   battery_capacity  1256 non-null   int32
 7   ram               1256 non-null   float64
 8   internal_storage  1256 non-null   int64
 9   price             1256 non-null   int64
dtypes: float64(1), int32(1), int64(2), object(6)
memory usage: 93.3+ KB

In [17]:
data['brand_name'].value_counts()

brand_name
SAMSUNG    404
XIAOMI     393
OPPO       219
APPLE      154
ONEPLUS     86
Name: count, dtype: int64

In [18]:
data['model'].value_counts()

model
Redmi 11                      2
Xiaomi Black Shark 4 256GB    2
Redmi K50 Ultra 256GB         2
Xiaomi Mi Mix 4 256GB         2
Samsung A9 2018 128GB         2
                             ..
Xiaomi 13                     1
Xiaomi 13 Pro                 1
Redmi Note 12S                1
Poco F5 GT                    1
Oppo Reno 4 SE 256GB          1
Name: count, Length: 1249, dtype: int64

In [19]:
len(data['model'].value_counts())

1249

In [20]:
data['display'].value_counts()

display
6.67" (120Hz)                  107
6.5"                            74
6.53"                           58
6.7" (120Hz)                    57
6.5" (90Hz)                     50
                              ...
6.4" (60 (International)Hz)      1
6.26"                            1
5.9"                             1
7.3"                             1
5.14"                            1
Name: count, Length: 105, dtype: int64

In [21]:
data['processor'].value_counts()

processor
 Snapdragon 888 5G        29
 Snapdragon 870 5G        27
 Snapdragon 8 Gen1        24
Snapdragon 865            22
Snapdragon                21
                          ..
MediaTek P20               1
 Snapdragon 690 5G         1
Exynos 9610                1
Dimensity 8100 Max 5G      1
Snapdragon 430             1
Name: count, Length: 223, dtype: int64

In [22]:
data['processor_name']=data['processor'].apply(lambda x:" ".join(x.split()[0:1]))

In [23]:
data['processor_name'].value_counts()

processor_name
Snapdragon    554
Exynos        180
Apple         154
Dimensity     149
MediaTek      102
Mediatek       78
MT6833         10
Spreadtrum      8
MT6739W         4
MT6889Z         4
MT6853          3
MT6739WW        3
MT6765V         2
MT6873V         2
MT6737T         1
Pega-Dual       1
Unisoc          1
Name: count, dtype: int64

In [24]:
data.head(2)

,brand_name,model,display,front_camera,rare_camera,processor,battery_capacity,ram,internal_storage,price,processor_name
0,SAMSUNG,Samsung S24 Ultra,"6.8"" (120Hz)",40MP,108MP + 10MP + 10MP + 12MP,Exynos,5000,8.0,128,334999,Exynos
1,SAMSUNG,Samsung S24 Plus,"6.6"" (120Hz)",10MP,50MP + 10MP + 12MP,Exynos,4500,8.0,128,189999,Exynos

In [25]:
data['model_name']=data['model'].apply(lambda x:" ".join(x.split()[0:3]))

In [26]:
data['model_name'].value_counts()

model_name
Xiaomi Black Shark     30
Redmi Note 11          20
Redmi Note 10          16
Redmi Note 9           14
Xiaomi Mi 11           13
                       ..
Samsung Note5           1
Samsung Note5 64GB      1
Samsung Note5 128GB     1
Samsung S5 Neo          1
Oppo A31                1
Name: count, Length: 783, dtype: int64

In [27]:
def add_company(inpt):
    if inpt == 'Samsung Note5 64GB' or inpt == 'Samsung Note5 128GB' or inpt == 'Samsung S5 Neo':
        return 'Samsung Note5'
    else:
        return inpt

In [28]:
data['model_name'] = data['model_name'].apply(add_company)

In [29]:
data['model_name'].value_counts()

model_name
Xiaomi Black Shark    30
Redmi Note 11         20
Redmi Note 10         16
Redmi Note 9          14
Xiaomi Mi 11          13
                      ..
Samsung J2             1
Samsung A8 Duos        1
Samsung A8             1
Samsung J7             1
Oppo A31               1
Name: count, Length: 780, dtype: int64

In [30]:
data['rare_camera'].value_counts()

rare_camera
13 MP                                 59
12 MP                                 57
8 MP                                  47
12 MP + 12 MP                         46
16 MP                                 45
                                      ..
50MP + 50MP + 50MP (not confirmed)     1
50MP + 13MP + 5MP                      1
50 MP + 13 MP + 8 MP                   1
108MP + 8MP + 2MP (not confirmed)      1
Pop-up 16 MP + 20 MP                   1
Name: count, Length: 217, dtype: int64

In [31]:
data.shape

(1256, 12)

In [32]:
data.head()

,brand_name,model,display,front_camera,rare_camera,processor,battery_capacity,ram,internal_storage,price,processor_name,model_name
0,SAMSUNG,Samsung S24 Ultra,"6.8"" (120Hz)",40MP,108MP + 10MP + 10MP + 12MP,Exynos,5000,8.0,128,334999,Exynos,Samsung S24 Ultra
1,SAMSUNG,Samsung S24 Plus,"6.6"" (120Hz)",10MP,50MP + 10MP + 12MP,Exynos,4500,8.0,128,189999,Exynos,Samsung S24 Plus
2,SAMSUNG,Samsung Zero,"6.41"" (120Hz)",32 MP,12 MP + 8 MP + 12 MP,Snapdragon 888 5G,4500,8.0,256,112999,Snapdragon,Samsung Zero
3,SAMSUNG,Samsung S24,"6.1"" (120Hz)",10MP,50MP + 10MP + 12MP,Exynos,3700,8.0,128,249999,Exynos,Samsung S24
4,SAMSUNG,Samsung A05s,"6.5"" (90Hz)",5MP,50MP + 2MP + 2MP,Exynos,5000,4.0,64,24999,Exynos,Samsung A05s

In [33]:
data = data.drop(columns=['processor', 'model'])

In [34]:
data.head()

,brand_name,display,front_camera,rare_camera,battery_capacity,ram,internal_storage,price,processor_name,model_name
0,SAMSUNG,"6.8"" (120Hz)",40MP,108MP + 10MP + 10MP + 12MP,5000,8.0,128,334999,Exynos,Samsung S24 Ultra
1,SAMSUNG,"6.6"" (120Hz)",10MP,50MP + 10MP + 12MP,4500,8.0,128,189999,Exynos,Samsung S24 Plus
2,SAMSUNG,"6.41"" (120Hz)",32 MP,12 MP + 8 MP + 12 MP,4500,8.0,256,112999,Snapdragon,Samsung Zero
3,SAMSUNG,"6.1"" (120Hz)",10MP,50MP + 10MP + 12MP,3700,8.0,128,249999,Exynos,Samsung S24
4,SAMSUNG,"6.5"" (90Hz)",5MP,50MP + 2MP + 2MP,5000,4.0,64,24999,Exynos,Samsung A05s

In [35]:
data.shape

(1256, 10)

In [36]:
data=pd.get_dummies(data)

In [37]:
data.head(2)

,battery_capacity,ram,internal_storage,price,brand_name_APPLE,brand_name_ONEPLUS,brand_name_OPPO,brand_name_SAMSUNG,brand_name_XIAOMI,"display_1.78""",...,model_name_iPhone SE 64GB,model_name_iPhone SE Plus,model_name_iPhone X,model_name_iPhone X 256GB,model_name_iPhone XR,model_name_iPhone XR 128GB,model_name_iPhone XS,model_name_iPhone XS 256GB,model_name_iPhone XS 512GB,model_name_iPhone XS Max
0,5000,8.0,128,334999,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,4500,8.0,128,189999,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [38]:
data.shape

(1256, 1175)

In [39]:

X = data.drop('price', axis=1)
y = data['price']

In [40]:
!pip install sklearn

Defaulting to user installation because normal site-packages is not writeable
Collecting sklearn
  Using cached sklearn-0.0.post12.tar.gz (2.6 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'error'

  error: subprocess-exited-with-error

  python setup.py egg_info did not run successfully.
  exit code: 1

  [15 lines of output]
  The 'sklearn' PyPI package is deprecated, use 'scikit-learn'
  rather than 'sklearn' for pip commands.

  Here is how to fix this error in the main use cases:
  - use 'pip install scikit-learn' rather than 'pip install sklearn'
  - replace 'sklearn' by 'scikit-learn' in your pip requirements files
    (requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
  - if the 'sklearn' package is used by one of your dependencies,
    it would be great if you take some time to track which package uses
    'sklearn' instead of 'scikit-learn' and report it to their issue tracker
  - as a last resort, set the environment variable
    SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True to avoid this error

  More information is available at
  https://github.com/scikit-learn/sklearn-pypi-package
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

Encountered error while generating package metadata.

See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

In [41]:
pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\programdata\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [42]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25)

In [43]:
X_train.shape,X_test.shape

((942, 1174), (314, 1174))

In [44]:
def model_tra(model):
    model.fit(X_train, y_train)
    acc = model.score(X_test, y_test)
    print(str(model)+ ' --> ' +str(acc))

In [50]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
model_tra(lr)

from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor()
model_tra(rfr)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression() --> 0.13694267515923567
RandomForestRegressor() --> 0.8154366850938294

In [51]:
from sklearn.model_selection import GridSearchCV

parameters = {'n_estimators':[10, 50, 100],
              'criterion':['squared_error','absolute_error','poisson']}

grid_object = GridSearchCV(estimator=rfr, param_grid=parameters)

grid_fit = grid_object.fit(X_train, y_train)

best_modelpara = grid_fit.best_estimator_
best_modelpara

RandomForestRegressor(criterion='absolute_error')

In [52]:
best_modelpara.score(X_test, y_test)

0.8119989843485524

In [53]:
import pickle
with open('money_predictor.pickle','wb') as file:
    pickle.dump(best_modelpara,file)

In [54]:
X_train.columns

Index(['battery_capacity', 'ram', 'internal_storage', 'brand_name_APPLE',
       'brand_name_ONEPLUS', 'brand_name_OPPO', 'brand_name_SAMSUNG',
       'brand_name_XIAOMI', 'display_1.78"', 'display_10.2"',
       ...
       'model_name_iPhone SE 64GB', 'model_name_iPhone SE Plus',
       'model_name_iPhone X', 'model_name_iPhone X 256GB',
       'model_name_iPhone XR', 'model_name_iPhone XR 128GB',
       'model_name_iPhone XS', 'model_name_iPhone XS 256GB',
       'model_name_iPhone XS 512GB', 'model_name_iPhone XS Max'],
      dtype='object', length=1174)

In [56]:
X_train

,battery_capacity,ram,internal_storage,brand_name_APPLE,brand_name_ONEPLUS,brand_name_OPPO,brand_name_SAMSUNG,brand_name_XIAOMI,"display_1.78""","display_10.2""",...,model_name_iPhone SE 64GB,model_name_iPhone SE Plus,model_name_iPhone X,model_name_iPhone X 256GB,model_name_iPhone XR,model_name_iPhone XR 128GB,model_name_iPhone XS,model_name_iPhone XS 256GB,model_name_iPhone XS 512GB,model_name_iPhone XS Max
581,4500,6.0,128,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1077,4500,8.0,256,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
774,5000,3.0,32,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1149,5000,4.0,64,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
257,3300,3.0,32,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,5000,4.0,64,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
582,4500,8.0,128,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
106,4500,8.0,128,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
164,4500,8.0,128,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1108,5000,8.0,256,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [55]:
y_test

760      36999
200      29999
1172    189999
354      38500
1026     88415
         ...
143      41999
1153     27999
598      79999
728      41999
172      14999
Name: price, Length: 314, dtype: int64